<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cube Warfare</title>

        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div class="content-wrap">
            <h1>Cube Warfare</h1>
            <hr />
            <p>Simple JavaScript game that I have created while learning Canvas API.</p>
            <p>Movement: wasd or arrows, fire: J</p>
            <form method="POST" action="/start">
                <div class="form-box">
                    <label>Number of cubes:</label>
                    <select name="cubes">
                        <option value="100">12</option>
                        <option value="50" selected="selected">24</option>
                        <option value="30">40</option>
                        <option value="20">60</option>
                    </select>
                </div>
                <div class="form-box">
                    <button type="submit">START</button>
                </div>
            </form>
        </div>
    </body>
</html>